---
---

@import "{{ site.theme }}";
.main-content blockquote {
    margin: 0 7px 0 5px;
    padding: 0 16px 0 10px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #009428b5;
    background-color: #00000008;
    box-shadow: 7px 7px 5px #00000024;
}
.main-content blockquote:first-of-type{
    border-left-color: #3589f7b5;
}

