---
---

@import "{{ site.theme }}";
blockquote {
    margin: 0 7px 0 5px;
    padding: 0 16px 0 10px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #009428b5;
    background-color: #00000008;
    box-shadow: 7px 7px 5px #00000024;
}
blockquote:first-of-type{
    border-left-color: #3589f7b5;
}
html, body {
    font-size: 95%;
    padding: 10px 0;
    /* background-color: #f7f7f7; */
}
body {
    background-image: url('bg.png');
    background-attachment: fixed;
}
h1 {
    padding-bottom: 0.1em;
    line-height: 1;
    border-bottom-width: 0px;
    border-bottom-style: none;
    font-size: 3em;
    margin-bottom: 0.1em;
}
h2 {
    font-size: 2em;
}

.main-column {
    width: 55%;
    background-color: white;
    float: left;
    box-shadow: 0px 30px 20px #0000017d;
    padding: 2.5%;
}
.side-column {
    width: 20%;
    float: left;
}

@media (orientation:portrait) {
    .main-column {
        width: 85%;
    }
    .side-column {
        width: 5%;
    }
}
@media (hover: none) {
    body {
        background-image: none;
    }
 }
