---
---

@import "{{ site.theme }}";
.main-content blockquote {
    margin: 0 7px 0 5px;
    padding: 10px 16px 10px 16px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #009428b5;
    background-color: #00000008;
    box-shadow: 7px 7px 5px #00000024;
    color: #505050;
}
.main-content blockquote:first-of-type{
    border-left-color: #155a95;
}
table {
    width: 100%;
    border-collapse: collapse; /* This helps remove gaps between table cells */
    font-size: 0.8rem;
    color: #505050;
}

/* Left align the table headers */
th {
    text-align: left;
    padding: 8px; /* Add some padding for better readability */
}

/* Add some padding to table cells */
td {
    padding: 8px;
}

/* Optional: Add borders to table and table cells for better visibility */
th, td {
    border: 1px solid #ddd;
}
h3:nth-of-type(1),
h3:nth-of-type(2) {
    color: #155a95;
}
